* {
	font-family: 'Open_Sans', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


nav{
	list-style-type: none;
	padding: 0.8rem;
	border-bottom: 1px solid grey;
	
	position: sticky;
	top:  0;
	z-index: 3;
	background-color: white;
}

nav .nav-logo, nav .right-nav {
	margin: 0.5rem;
	display: inline-block;

	
}

nav .nav-logo{
	vertical-align: bottom;
}

nav .right-nav {
	margin-left: 40%;

}


nav .nav {
	margin: 0.5rem;
	font-weight: bold;
	font-size: 1em;
	display: inline-block;


}

nav .tuitt-button {
	background-color: #c2195b;
	border-radius: 25px;
	border:  0;
	color:  white;
	height: 40px;
	width: 150px;
	padding: 5px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	text-align: center;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
	min-height: 50vh;

}

.front-bg {
	background-color: black;
	position: absolute;
	opacity: 80%;
	width: 100%;
	height: 100%;

}


section .title, section .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}

section .title, section .subtitle {
	color: white;
	text-align: right;


}
section .title {

	font-size: 50px;
}
section .subtitle {

	font-weight: normal;
	font-size: 20px;
	margin-bottom:  2rem;
	margin-top: 1rem;
}

section .apply-button {
	background-color: #c2195b;
	border-radius: 25px;
	border:  0;
	color:  white;
	height: 40px;
	width: 150px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	text-align: center;
	opacity: 100%;
	position: absolute;
	right: 0;
	

}
#bg-image .container {
	display: inline-block;
	position: absolute;
	margin: 1rem;
	padding: 1rem;
	right: 0;
	margin-right: 10% ;
	margin-left: 50%;
}


#intro {
	width: 100vw;
}

.intro-description {

	margin: 100px;
	text-align: justify;

}

.title-2 {
	text-align: center;
	margin-top: 100px;
}
#intro .title-2 {
	font-size: 30px;
	font-weight: bold;
}

.pre-footer {
	width: 100vw;
	background-color: #f7fbfb;

}
.prefooter-description {
	text-align: center;
	margin: 30px;

}

.book-button {
	background-color: #336589;
	border-radius: 25px;
	border:  0;
	color:  white;
	height: 40px;
	width: 150px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	text-align: center;
	margin-left: 45%;
	padding: 10px;


	
}

.footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}
